#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    // [JK 동시에 누르면 엔터] 콤보 설정

    combos {
        compatible = "zmk,combos";

        combo_enter {
            timeout-ms = <50>;
            key-positions = <19 20>; // J(19)와 K(20) 위치
            bindings = <&kp RET>;
        };

        kl {
            bindings = <&kp EXCLAMATION>;
            key-positions = <21 22>;
        };

        xc {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
        };

        cv {
            bindings = <&kp LA(V)>;
            key-positions = <27 28>;
        };

        io {
            bindings = <&kp RG(PERIOD)>;
            key-positions = <8 9>;
        };

        clip {
            bindings = <&kp LG(V)>;
            key-positions = <2 3>;
        };

        cap {
            bindings = <&kp LS(LG(S))>;
            key-positions = <15 16>;
        };

        qw {
            bindings = <&kp TILDE>;
            key-positions = <1 2>;
        };
    };

    behaviors {
        // 홈로우 모드: 살짝 누르면 문자, 길게 누르면 모디파이어(Ctrl, Alt 등)

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        enkor: enkor {
            compatible = "zmk,behavior-tap-dance";
            label = "ENKOR";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ALT>, <&kp LANGUAGE_2>;
        };

        ntom: ntom {
            compatible = "zmk,behavior-tap-dance";
            label = "NTOM";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp M>;
        };
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp G &kp L &kp A &kp B &kp W &kp O &kp R &kp L &kp D &kp AT &kp N &kp A &kp V &kp E &kp R &kp DOT &kp C &kp O &kp M>;
            label = "NEW_MACRO";
        };

        new_macro1: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp G &kp L &kp A &kp B &kp W &kp O &kp R &kp L &kp D &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "NEW_MACRO";
        };

        new_macro3: new_macro3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp U &kp D &kp W &kp L &kp S &kp N2 &kp N6 &kp N9 &kp N7 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "NEW_MACRO3";
        };

        new_macro4: new_macro4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp U &kp D &kp W &kp L &kp S &kp N9 &kp N6 &kp N2 &kp N4 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "NEW_MACRO4";
        };

        new_macro5: new_macro5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp A &kp M &kp J &kp O &kp K &kp E &kp R &kp N2 &kp N4 &kp AT>;
            label = "NEW_MACRO5";
        };

        new_macro6: new_macro6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp A &kp M &kp J &kp O &kp K &kp E &kp R &kp N2 &kp N4 &kp DLLR>;
            label = "NEW_MACRO6";
        };

        new_macro7: new_macro7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp K &kp F &kp M &kp F &kp T &kp K &kp F &kp K &kp D &kp G &kp K &kp F &kp K &kp M &kp STAR>;
            label = "NEW_MACRO7";
        };

        new_macroqq: new_macroqq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp N3 &kp N1 &kp N4 &kp SPACE &kp N1 &kp N1 &kp N3 &kp SPACE &kp N1 &kp N1 &kp N0 &kp N5 &kp SPACE>;
            label = "NEW_MACROQQ";
        };

        new_macrogdgdg: new_macrogdgdg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N1 &kp N0 &kp MINUS &kp N4 &kp N4 &kp N5 &kp N5 &kp MINUS &kp N9 &kp N6 &kp N2 &kp N4>;
            label = "NEW_MACROGDGDG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q        &kp W       &kp E       &kp R        &kp T          &kp Y   &kp U          &kp I       &kp O       &kp P           &kp BSPC
&kp CLCK   &hm LCTRL A  &hm LGUI S  &hm LALT D  &hm LSHFT F  &kp G          &kp H   &hm RSHFT J    &hm RALT K  &hm RGUI L  &hm RCTRL SEMI  &kp C_VOLUME_UP
&kp LSHFT  &kp Z        &kp X       &kp C       &kp V        &kp B          &ntom   &kp M          &kp COMMA   &kp DOT     &kp FSLH        &kp C_VOLUME_DOWN
                                    &kp ESC     &lt 2 SPACE  &lt 1 SPACE    &enkor  &kp BACKSPACE  &kp DELETE
            >;
        };

        lower_layer {
            bindings = <
&trans      &kp EXCLAMATION  &kp AT_SIGN    &kp HASH      &kp DOLLAR            &kp PERCENT              &trans     &kp N7        &kp N8        &kp N9        &kp UNDERSCORE  &trans
&trans      &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp PLUS   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL       &trans
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3          &bt BT_SEL 4             &kp MINUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COMMA       &kp PERIOD
                                            &trans        &trans                &trans                   &trans     &trans        &kp NUMBER_0
            >;
        };

        raise_layer {
            bindings = <
&kp F1      &kp F2      &kp F3    &kp F4   &kp F5       &kp F6           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UP                &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&kp F7      &kp F8      &kp F9    &kp F10  &kp F11      &kp F12          &kp SQT               &kp LEFT_ARROW         &kp DOWN              &kp RIGHT_ARROW   &kp LEFT_SHIFT     &kp ENTER
&kp INSERT  &kp K_MENU  &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN    &kp MINUS             &kp EQUAL              &kp NON_US_BACKSLASH  &kp PIPE          &kp GRAVE          &kp TILDE
                                  &trans   &trans       &trans           &trans                &trans                 &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &new_macro   &new_macro1  &new_macro3  &new_macro4  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &new_macro5  &new_macro6  &new_macro7  &trans       &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans       &trans       &trans       &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans       &trans       &trans    &trans  &trans  &trans
            >;
        };
    };
};
